{% if perms.bots.change_translate %}{% load i18n %}
<li><a class="icon-py" onmouseenter="view_grammarsrc(this)" onclick="return this.onmouseenter()" data-after="{% trans 'View grammar' %}"></a></li>{% endif %}
