{% extends "registration/password_change_done.html" %}
{% load i18n %}

{% block userlinks %}
{% trans 'Change password' %} /
<a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block breadcrumbs %}{% if user.is_staff %}{{ block.super }}{% else %}
<div class="breadcrumbs">
<a href="/">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endif %}
{% endblock %}
