/*
 * Bots filer css
 *
 * Author: Ludovic Watteaux
 */

html[data-theme="light"],
:root {
  --numbered-fg: var(--primary);
  --numbered-bg: #ffffffcc;
}
#container {
  height: unset;
}
.content {
  height: -webkit-fill-available;
}
th, td {
  padding: 6px;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
}
.tainfo {
  position: absolute !important;
  padding-top: 9px;
}
html[data-theme="light"] pre,
pre {
  color: var(--body-fg);
  font-size: 14px;
  margin: 4px;
  background-color: var(--selected-bg);
}
.navbar {
  position: sticky;
  top: -1px;
  width: 100%;
  background-color: var(--body-bg);
  z-index: 10;
}
.padnav {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

pre.numbered {
    padding: 5px 5px;
    margin-top: 4px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 0 4px var(--body-loud-color);
    box-shadow: inset 0 0 4px var(--body-loud-color);
    counter-reset: line;
}

pre.numbered span {
    counter-increment: line;
    display: block;
    line-height: 1.0rem;
}

pre.numbered span:before {
    content: counter(line);
    display: inline-block;
    border-right: 1px solid var(--numbered-fg);
    padding: 0 .5em;
    margin-right: .5em;
    min-width: 1.5rem;
    text-align: right;
    color: var(--numbered-fg);
    background: var(--numbered-bg);
}

label[for^="cbx_numbered"] {
    padding-left: 5px;
    padding-right: 5px;
}

input.bt-round,
.bt-round {
    border-radius: 50%;
    border: 1px solid var(--body-fg);
    font-size: 120%;
    font-weight: bold;
    margin: 3px !important;
    padding: 3px;
    cursor: pointer;
    color: inherit;
    background: inherit;
}
input.bt-less,
.bt-less {
    margin-left: 0 !important;
    margin-right: 5px !important;
    padding-left: 9px;
    padding-right: 9px;
}
input.bt-plus,
.bt-plus {
    margin-left: 5px !important;
    margin-right: 0 !important;
    padding-left: 6px;
    padding-right: 6px;
}
input.bt-round:hover,
.bt-round:hover {
    box-shadow: inset 0 0 4px var(--body-loud-color);
}
input.bt-round[disabled]:active,
input.bt-round[disabled]:hover,
input.bt-round[disabled]:focus,
input.bt-round:active,
input.bt-round:focus,
input.bt-round:hover {
    background: unset;
}
.bt-round[disabled]:hover {
    box-shadow: unset;
}
.bt-round[disabled] {
    cursor: default;
}


@media (prefers-color-scheme: dark) {
  :root {
    --numbered-fg: var(--secondary);
    --numbered-bg: var(--body-bg);
  }
  pre {
    color: #ddd;
  }
}
html[data-theme="dark"] {
    --numbered-fg: var(--secondary);
    --numbered-bg: var(--body-bg);
}
html[data-theme="dark"] pre {
    color: #ddd;
}

.theme-toggle {
    position: fixed;
    right: 0.5em;
    top: 1em;
    z-index: 99;
}
.theme-toggle svg {
    transform: scale(1.2);
}
