/* Bots EDI Translator responsive CSS
 * Author: Ludovic Watteaux
 */

@media (max-width: 1024px) {

    .now,
    #user-tools {
        display: none;
    }

    #bots-nav a:after {
        content: '';
    }

    #bots-nav li:hover > a.after-title:after {
        content: attr(title);
    }

    .ico-home:before {
        content: var(--ico-house);
    }

    input, textarea, select, .form-row p, form .button {
        font-size: 0.6rem;
    }

    div.breadcrumbs {
        padding-top: 0.4em;
        padding-bottom: 0.2em;
        padding-left: 10px;
    }

    /* Sticky > relative */
    table#botstable thead tr:nth-child(2) th {
        position: relative;
        top: unset;
        z-index: 9;
    }
}

@media (max-width: 800px) {
    /* Sticky > relative */
    .object-tools,
    .action-top,
    .bots .action-top,
    .bots label.action-top {
        position: relative;
        top: unset;
        z-index: 9;
    }
}
